.gallery {
    height: 100vh;
    min-height: 920px;
    padding: 250px 0 50px 0;
    display: flex;
    align-items: center;
    margin: 0;
    position: relative;
    .slick-track {
      display: flex;
      align-items: center;
      padding: 15px 0;
      overflow: visible;
    }
    .slick-list {
      position: relative;
      overflow: hidden;
      display: block;
      margin: 0;
      padding: 0;
  }
    .slick-slide {
      margin: 0 20px;
      height: 390px;
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        padding: 0;
        margin: 0;
      }
    }
    &:hover {
      .slick-arrow {
        opacity: .5;
      }
    }
    .slick-arrow {
        position: absolute;
        top: 50%;
        width: 52px;
        height: 52px;
        margin-top: -26px;
        background-color: transparent;
        padding: 0;
        font-size: 0;
        z-index: 1;
        opacity: 0;
        transition: opacity .3s linear;
        overflow: hidden;
        &.slick-prev {
            left: 0; 
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 23px;
                height: 23px;
                margin-left: -4px;
                margin-top: -8px;
                border-top: solid 4px rgb(187, 218, 218);
                border-left: solid 4px rgb(187, 218, 218); 
                transform: rotate(-45deg);
            }
        }
        &.slick-next {
            right: 0; 
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 23px;
                height: 23px;
                margin-left: -9px;
                margin-top: -8px;
                border-right: solid 4px rgb(187, 218, 218);
                border-bottom: solid 4px rgb(187, 218, 218);
                transform: rotate(-45deg);
            }
        }
        &:hover {
            opacity: 1;
        }
    }
    .gallery-slider {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 0;
        li {
          min-width: 0;
          padding: 0;
          box-shadow: 7px 4px 8px 0px rgba(0, 0, 0, 0.2);
          transition: box-shadow .3s linear;
          &:hover {
            box-shadow: 7px 4px 8px 0px rgba(0, 0, 0, 0.3);
          }
          a {
              img {
                height: 390px;
                width: auto;
              }
          }
        }
    }
}

.mfp-gallery {
    .mfp-container {
        max-width: 600px;
        height: auto;
        min-height: 400px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 0 50px;
    }
    .mfp-content {
        width: 100%;
        height: auto;
        background-color: transparent;
        padding: 0;
        z-index: 0;
        img {
            width: 100%;
            height: auto;
            padding: 0;
        }
    }
    .mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
        display: none;
    }

    .mfp-arrow {
        display: none;
    }
}

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-preloader {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

.mfp-close {
  display: none; }

.mfp-counter {
  display: none; }

.mfp-arrow {
  display: none; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
  line-height: 0;
}

 .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  display: none;}

.mfp-title {
  display: none;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }