@import "fonts";
@import "normalize";
@import "slider";

* {
    font-size: 16px;
    line-height: 130%;
    color: black;
}

html,
body {
	height: 100%;
	background: rgba(255, 255, 255, 1);
	color: rgba(34, 34, 34, 1);
    scroll-behavior: smooth;
}
a, button, a *, button * {
	cursor: pointer;
    transition: all .3s linear;
}

.wrapper {
	min-height: 100%;
    max-width: 1540px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.container {
    width: 100%;
    max-width: 1540px;
    padding: 0 100px 0 190px;
    margin: 0 auto;
    @media (max-width: 1000px) {
        padding: 0 50px 0 130px;
    }
}

.title {
    &_main {
        font-size: 28px;
        margin: 0 0 50px 0;
        padding: 0;
    }
    &_chapter {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        background: rgba(29, 29, 29, 0.5);
        color: white;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: bold;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        @media (hover: none), (pointer: coarse) {
            width: 100%;
            height: auto;
            padding: 10px 0;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            top: 50%;
            left: 50%;
            background: rgba(255, 255, 255, 0.8);
            color: rgba(70, 70, 70, 0.9);
        }
    }
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 0;
    .container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.logo {
    flex: 0 0 350px;
    height: auto;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
    }
    @media (max-width: 1600px) {
        flex: 0 0 300px;
    }
}

.page {
    padding: 0 0 200px 0;
    min-height: 100%;
}

.sidebar {
    background: white;
    height: 100%;
    width: calc(50vw - 770px);
    padding: 30px 25px 30px 55px;
    position: fixed;
    left: -5px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 3px 2px 15px 0px rgba(207, 187, 184, 0.2);
    overflow: auto;
    z-index: 10;
    @media (max-width: 1900px) {
        width: auto;
    }
    @media (max-width: 1000px) {
        padding: 30px 15px 30px 25px;
    }
    @media (max-height: 400px) {
        justify-content: flex-start;
    }
}

.menu {
    width: 60px;
    margin: 0 0 30px 0;
    padding: 0;
    &__list {
        display: block;
    }
    &__li {
        margin: 9px 0 9px 0;
    }
    &__link {
        font-size: 14px;
        color: grey;
        padding: 5px;
        margin: 1px 0;
        &:visited {
            color: grey;
        }
        &:hover, &:active {
            color: purple;
        }
    }
}

.row {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.column {
    margin: 0 5% 0 5%;
}

.parts {
    padding: 70px 0 30px 0;
    &__title {
        transition: opacity .3s linear;
        opacity: 0;
        z-index: -2;
    }
    &__link {
        display: block;
        width: 100%;
        padding: 100% 0 0 0;
        margin: 0 30% 30% 0;
        position: relative;
        overflow: hidden;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
        &:hover {
            img {
                width: 105%;
                height: 105%;
            }
            .parts__title {
                opacity: 1;
                z-index: 2;
            }
        }
    }
    &__row {
        justify-content: space-between;
    }
    &__column {
        flex: 1 0 200px;
    }
    @media (hover: none), (pointer: coarse) {
        &__title {
            opacity: 1;
            z-index: 2;
        }
    }
}

.about {
    padding: 250px 0 50px 0;
    min-height: 80vh;
    display: flex;
    align-items: center;
    &__row {
        height: 100%;
        justify-content: center;
    }
    &__column {
        margin: 0 5% 10% 0;
    }
    @media (max-width: 1600px) {
        padding: 200px 0 50px 0;
    }
}

.portrait {
    width: 100%;
    height: auto;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
    }
}

.pics-gallery {
    padding: 300px 0 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    li {
        height: 250px;
        margin: 0 10px 50px 0;
        a {
            height: 100%;
            img {
                height: 100%;
            }
        }
    }
    @media (max-width: 1600px) {
        padding: 250px 0 50px 0;
    }
    @media (max-width: 1200px) {
        li {
            height: 220px;
            margin: 0 10px 30px 0;
        }
    }
    @media (max-width: 800px) {
        li {
            height: 150px;
        }
    }
}

.footer {
    background: white;
    padding: 30px 0;
    text-align: right;
    box-shadow: 3px 2px 24px 0px rgba(151, 131, 128, 0.2);
    z-index: 5;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.iconbar {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    &__icon {
        margin: 3px 0 3px 0;
    }
    &__link {
        font-size: 14px;
        color: grey;
        padding: 5px;
        margin: 1px 0;
        &:visited {
            color: grey;
        }
        &:hover, &:active {
            color: purple;
        }
    }
}

.copyrights {
    &__artist {
        font-size: 12px !important;
        margin: 0 0 5px 0;
        padding: 0;
    }
    &__coder {
        font-size: 12px !important;
        margin: 0 0 5px 0;
        padding: 0;
    }
    &__year {
        font-size: 12px !important;
        margin: 0;
        padding: 0;
    }
    &__link {
        font-size: 16px !important;
        color: grey;
        &:hover, &:active {
            color: orangered;
        }
    }
}