@import "fonts";
@import "normalize";
@import "slider";

* {
    font-size: 16px;
    line-height: 130%;
    color: black;
}

html,
body {
	height: 100%;
	background: rgba(255, 255, 255, 1);
	color: rgba(34, 34, 34, 1);
}
a, button, a *, button * {
	cursor: pointer;
    transition: all .3s linear;
}

.wrapper {
	min-height: 100%;
    max-width: 1440px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.container {
    max-width: 1440px;
    padding: 0 20px 0 200px;
    margin: 0 auto;
}

.box {
    display: flex;
    &_sb {
        justify-content: space-between;
    }
    &__column {
        flex: 0 0 auto;
        margin: 0 50px 50px 50px;
        &_p {
            flex: 0 0 45%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0;
        }
    }
    &__link {
        width: 100%;
        padding-top: 100%;
        margin: 0 0 20% 0;
        position: relative;
        overflow: hidden;
        &:last-child {
            margin: 0;
        }
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
        &:hover {
            img {
                width: 105%;
                height: 105%;
            }
            .title_chapter {
                transition: opacity .3s linear;
                opacity: 1;
                z-index: 2;
            }
        }
    }
}
.title {
    &_main {
        font-size: 28px;
        margin: 0 0 50px 0;
        padding: 0;
    }
    &_chapter {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        background: rgba(29, 29, 29, 0.5);
        color: white;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: bold;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        z-index: -1;
        opacity: 0;
    }
}

.header {
    padding: 15px 0;
    .container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.logo {
    flex: 0 0 350px;
    height: auto;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
    }
}

.page {
    padding: 150px 0 200px 0;
}

.sidebar {
    background: white;
    height: 100%;
    width: calc(50vw - 670px);
    padding: 30px 25px 30px 55px;
    position: fixed;
    left: -5px;
    top: 0;
    box-shadow: 3px 2px 24px 0px rgba(151, 131, 128, 0.2);
    z-index: 10;
    overflow: auto;
    &__body {
        height: 100%;
        width: 90px;
        margin: 0 0 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    @media (max-width: 1600px) {
        width: auto;
    }
}

.menu {
    margin: 0 0 30px 0;
    padding: 0;
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
    }
    &__li {
        margin: 5px 0 5px 0;
    }
    &__link {
        font-size: 14px;
        color: grey;
        padding: 5px;
        margin: 1px 0;
        &:visited {
            color: grey;
        }
        &:hover, &:active {
            color: purple;
        }
    }
}

.iconbar {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    &__icon {
        margin: 3px 0 3px 0;
    }
    &__link {
        font-size: 14px;
        color: grey;
        padding: 5px;
        margin: 1px 0;
        &:visited {
            color: grey;
        }
        &:hover, &:active {
            color: purple;
        }
    }
}

.gallery {
    overflow: hidden;
}

.parts {
    padding: 140px 0;
}

.portrait {
    width: 300px;
    height: auto;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
    }
}

.footer {
    background: white;
    padding: 30px 0;
    text-align: right;
    box-shadow: 3px 2px 24px 0px rgba(151, 131, 128, 0.2);
    z-index: 5;
}

.copyrights {
    &__artist {
        font-size: 12px !important;
        margin: 0 0 5px 0;
        padding: 0;
    }
    &__coder {
        font-size: 12px !important;
        margin: 0 0 5px 0;
        padding: 0;
    }
    &__year {
        font-size: 12px !important;
        margin: 0;
        padding: 0;
    }
    &__link {
        font-size: 16px !important;
        font-weight: bold;
        color: grey;
        &:hover, &:active {
            color: orangered;
        }
    }
}