@import "fonts";
@import "normalize";
@import "slider";

* {
    font-size: 16px;
    line-height: 130%;
    color: black;
}

html,
body {
	height: 100%;
	background: rgba(255, 255, 255, 1);
	color: rgba(34, 34, 34, 1);
    scroll-behavior: smooth;
}
a, button, a *, button * {
	cursor: pointer;
    transition: all .3s linear;
}

.wrapper {
	min-height: 100%;
    max-width: 1540px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.section-top {
    padding-top: 290px !important;
    @media (max-width: 1600px) {
        padding-top: 230px !important;
    }
}

.container {
    width: 100%;
    max-width: 1540px;
    padding: 0 100px 0 190px;
    margin: 0 auto;
    @media (max-width: 1000px) {
        padding: 0 50px 0 130px;
    }
    @media (max-width: 768px) {
        padding: 0 30px 0 120px;
    }
    @media (max-width: 450px) {
        padding: 0 30px 0 30px;
    }
}

.title {
    &_main {
        font-size: 28px;
        margin: 0 0 50px 0;
        padding: 0;
    }
    &_chapter {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        background: rgba(29, 29, 29, 0.5);
        color: white;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: bold;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 0;
        @media (hover: none), (pointer: coarse) {
            width: 100%;
            height: auto;
            padding: 10px 0;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            top: 50%;
            left: 50%;
            background: rgba(255, 255, 255, 0.8);
            color: rgba(70, 70, 70, 0.9);
        }
        @media (max-width: 1200px) {
            font-size: 20px;
        }
    }
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 0;
    .container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.logo {
    flex: 0 0 350px;
    height: auto;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
    }
    @media (max-width: 1600px) {
        flex: 0 0 300px;
    }
    @media (max-width: 350px) {
        flex: 0 0 230px;
    }
}

.page {
    padding: 0 0 200px 0;
    min-height: 100%;
}

.sidebar {
    background: white;
    height: 100%;
    width: calc(50vw - 770px);
    padding: 30px 25px 30px 55px;
    position: fixed;
    left: -5px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 3px 2px 15px 0px rgba(207, 187, 184, 0.2);
    overflow: auto;
    z-index: 10;
    @media (max-width: 1900px) {
        width: auto;
    }
    @media (max-width: 1000px) {
        padding: 30px 15px 30px 25px;
    }
    @media (max-width: 450px) {
        display: none;
    }
    @media (max-height: 400px) {
        justify-content: flex-start;
    }
}

.menu {
    width: 60px;
    margin: 0 0 30px 0;
    padding: 0;
    &__list {
        display: block;
    }
    &__li {
        margin: 9px 0 9px 0;
    }
    &__link {
        font-size: 14px;
        color: grey;
        padding: 5px;
        margin: 1px 0;
        &:visited {
            color: grey;
        }
        &:hover, &:active {
            color: purple;
        }
    }
}

.row {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.column {
    margin: 0 5% 0 5%;
}

.parts {
    padding: 30px 0 50px 0;
    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: center;
    }
    &__item {
        width: 33.333%;
        margin: 0 0 5% 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title {
        transition: opacity .3s linear;
        opacity: 0;
        z-index: -2;
    }
    &__link {
        width: 85%;
        padding-top: 80%;
        position: relative;
        overflow: hidden;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: auto;
            transform: translate(-50%, -50%);
        }
        &:hover {
            img {
                width: 110%;
            }
            .parts__title {
                opacity: 1;
                z-index: 2;
            }
        }
    }
    @media (hover: none), (pointer: coarse) {
        &__title {
            opacity: 1;
            z-index: 2;
        }
    }
    @media (max-width: 1000px) {
        &__item {
            width: 50%;
            margin: 0 0 7% 0;
        }
    }
    @media (max-width: 450px) {
        &__item {
            width: 100%;
            margin: 0 0 10% 0;
        }
    }
}

.about {
    padding: 30px 0 50px 0;
    min-height: 80vh;
    display: flex;
    align-items: center;
    &__row {
        height: 100%;
        justify-content: center;
    }
    &__column {
        margin: 0 5% 10% 0;
    }
    @media (max-width: 1600px) {
        padding: 220px 0 50px 0;
    }
}

.portrait {
    width: 100%;
    height: auto;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
    }
}

.pics-gallery {
    padding: 30px 0 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    li {
        width: 25%;
        margin: 0 0 3.75% 0;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            width: 85%;
            padding-top: 80%;
            position: relative;
            overflow: hidden;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: auto;
                transform: translate(-50%, -50%);
            }
            &:hover {
                img {
                    width: 110%;
                }
            }
        }
    }
    @media (hover: none), (pointer: coarse) {
        li {
            a {
                &:hover {
                    img {
                        width: 110%;
                    }
                }
            }
        }
    }
    @media (max-width: 1600px) {
        padding: 30px 0 50px 0;
    }
    @media (max-width: 1099px) {
        li {
            width: 33.33%;
        }
    }
    @media (max-width: 705px) {
        li {
            width: 50%;
            a {
                width: 90%;
                img {
                    
                    
                }
            }
        }
    }
}

.footer {
    background: white;
    padding: 30px 0;
    text-align: right;
    box-shadow: 3px 2px 24px 0px rgba(151, 131, 128, 0.2);
    z-index: 5;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    @media (max-width: 720px) {
        .container {
            flex-direction: column;
            text-align: center;
        }
    }
}

.iconbar {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    &__icon {
        margin: 3px 0 3px 0;
    }
    &__link {
        font-size: 14px;
        color: grey;
        padding: 5px;
        margin: 1px 0;
        &:visited {
            color: grey;
        }
        &:hover, &:active {
            color: purple;
        }
    }
    @media (max-width: 720px) {
        margin: 0 0 20px 0;
    }
    @media (max-width: 420px) {
        flex-direction: column;
    }
}

.copyrights {
    &__artist {
        font-size: 12px !important;
        margin: 0 0 5px 0;
        padding: 0;
    }
    &__coder {
        font-size: 12px !important;
        margin: 0 0 5px 0;
        padding: 0;
    }
    &__year {
        font-size: 12px !important;
        margin: 0;
        padding: 0;
    }
    &__link {
        font-size: 16px !important;
        color: grey;
        &:hover, &:active {
            color: orangered;
        }
    }
    @media (max-width: 420px) {
        &__artist {
            font-size: 10px !important;
        }
        &__coder {
            font-size: 10px !important;
        }
        &__year {
            font-size: 10px !important;
        }
        &__link {
            font-size: 14px !important;
        }
    }
}